<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head'); %>

  <section class="container">
    <h1><%= title %></h1>

    <!-- <h1>
            <%# typeof title !== 'undefined'? title : undefined %>
        </h1>

        <p>
            <%# for (let i = 0; i <= numbers.length; i++) {%> 
            <%# numbers[i] %> <br>
            <%#}%>
        </p> -->

    <form action="/" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label>Client</label>
      <input type="text" name="client" />
      <button>Submit</button>
    </form>
  </section>

  <%- include('includes/footer'); %>