@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --main-color: rgb(95, 214, 145);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--main-color);
    font-family: 'Open sans', sans-serif;
}

h1 {
    font-size: 2rem;
}

.container {
    max-width: 50rem;
    margin: 5rem auto;
    background: #fff;
    padding: 5rem;
    border-radius: 1rem;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin: 0.5rem;
}

form input {
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
}

form input:focus {
    outline: 0.15rem solid var(--main-color);
}

form button {
    margin-top: 2rem;
    padding: 1rem;
    width: 20%;
    color: #fff;
    background: var(--main-color);  
    border: 0.1rem solid #000;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

form button:hover {
    color: var(--main-color);
    background: #fff;  
}